tr.found,
.table-dark.table-striped tbody tr:nth-of-type(odd).found {
    color: #ffffff;
    font-weight: bold;
    background-size: auto auto;
    background-color: black;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 100px, rgba(255, 223, 1, 1) 100px, rgba(255, 223, 1, 1) 200px );
}

tr.found td span,
.table-dark.table-striped tbody tr:nth-of-type(odd).found td span {
    background-color: black;
}

body {
    background-image: url("./img/background_001.jpg");
    background-attachment: fixed;
}